/*@import "bootstrap/bootstrap.less";*/

@import "definitions.less";

/************
 * Structure
 ************/

body {
    margin: 0 0 1em 0;
    padding: 0;
    color: @DefaultTextColor;
    background: @ContentMarginBackground;
    line-height: 130%;
    font-family: @DefaultFont;
    text-align: center;
    a:link, a:visited {
        color: @DefaultLinkColor;
        text-decoration: none;
    }
    a:hover {
        color: @DefaultActiveLinkColor;
        text-decoration: underline;
    }
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

#header-wrapper {
    background: @HeaderMarginBackground;
    #header-box {
        background: @HeaderBackground;
        width: 85%;
        height: 125px;
        margin: 0 auto;
        border-left: @BoxBorder;
        border-right: @BoxBorder;
        text-align: left;
        h1 {
            margin: 0;
            padding: 50px 0 0 10px;
            color: @HeaderTextColor;
            font-size: 220%;
            letter-spacing: -1px;
        }
        h2 {
            margin: 0;
            padding: 10px 0 0 10px;
            color: @HeaderTextColor;
            font-size: 100%;
            letter-spacing: -1px;
            border: none;
        }
    }
}

#menu-wrapper {
    background: @MenuMarginBackground;
    float: left;
    width: 100%;
    #menu-box {
        width: 85%;
        margin: 0 auto;
        font-size: 95%;
        white-space: nowrap; /* stops half a menu link dropping to next line. Instead, the whole link will drop. This only happens if you have a lot of menu links, and large text size */
        padding-right: 2px; /* The menu far left, and far right borders are not quite lining up in non IE browsers for some reason. This makes it less noticable */
        #menu-line {
            background: @MenuBackground;
            margin: 0;
            padding: 0;
            float: left;
            border-left: @BoxBorder;
            border-right: @BoxBorder;
            width: 100%;
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
            }
            li {
                display: inline;
            }
            a:link, a:visited {
                padding: 0.25em 1em;
                background: transparent;
                color: @MenuTextColor;
                text-decoration: none;
                float: left;
                border-right: @MenuSeparatorBorder;
            }
            a:hover {
                background: @MenuSelectedBackground;
                color: @MenuSelectedTextColor;
            }
            form {
                float: right;
            }
            form select {
                width: 200px;
            }
        }
    }
}

* html #menu { padding-right: 0; } /* See above comment. This re-adjusts IE to the above padding */

#content-wrapper {
    background: @ContentMarginBackground;
    clear: both;
    #content-box {
        width: 83%; /* 83% because it has 1% padding on each side, which brings it to 85% wide */
        margin: 0 auto;
        padding: 1%;
        border-left: @BoxBorder;
        border-right: @BoxBorder;
        background: @ContentBackground;
        font-size: 90%;
        text-align: left;
    }
}

* html #content-box { padding-top: 1.8em; } /* Set padding top in IE to 20px */

#search-box {
    font-size: 90%;
    .claim-line {
        margin-top: 0;
        text-align: center;
        font-style: italic;
    }
    h1 {
        font-size: 200%;
        font-weight: normal;
        line-height: 1.1em;
    }
    #search-form {
        background: @MainBlockBackground;
        color: @MainBlockTextColor;
        padding: 10px 15px 15px 15px;
        .column-1 {
            width: 400px;
            float:left;
        }
        .column-2 {
            float:left;
        }
        label {
            display: block;
        }
    }
}

#list-box {
    float: left;
    width: 270px;  /* 300 - 3*10 of padding */
    margin-right: 10px;
    padding: 0 10px 10px 10px;
    height: 590px;  /* 600 - 10 of padding */
    background: @BlockBackground;
    color: @BlockTextColor;
    font-size: 90%;
    #id-category-block {
        padding: 10px 0;
        p {
            margin: 0;
        }
    }
    #list-block {
        height: 100%;
        overflow: auto;
        background: @ContentBackground;
        color: @ContentTextColor;
        padding-right: 1em;
        ul {
            margin: 0;
            padding: 0 0 0 15px;
        }
        p {
            margin-left: 10px;
        }
        strong {
            font-weight: bold;
            &:hover {
                text-decoration: underline;
                cursor: pointer;
                color: @DefaultActiveLinkColor;
            }
        }
        .without-point {
            background: url("../img/ext-link.png") right 2px no-repeat;
            padding-right: 20px;
        }
    }
}

#map-box {
    margin-left: 300px;
    #map-container {
        border: @BoxBorder;
        height: 600px;
        margin: 0;
        padding: 0;
        #map-block {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    }
}

#iframe-map-box {
    #map-container {
        border: @BoxBorder;
        height: 600px;
        margin: 0;
        padding: 0;
        #map-block {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    }
}

#below-map-box {
    .block {
        font-size: 90%;
        float: left;
        width: 48.5%;
        margin: 10px 0 0 0;
        padding: 0 0.5% 10px 0.5%;
        background: @BlockBackground;
        color: @BlockTextColor;
    }
    .left {
        margin-right: 0.5%;
    }
    .right {
        margin-left: 0.5%;
    }
}

#footer-wrapper {
    background: @ContentMarginBackground;
    #footer-box {
        margin: 0 auto;
        padding: 2px 1%;
        width: 83%;
        text-align: right;
        color: @FooterTextColor;
        letter-spacing: 0.15em;
        background: @FooterBackground;
        border: @BoxBorder;
        font-size: 80%;
    }
}

.main_button {
    width: 100%;
    margin-top: 2em;
}

/* Styles for macadja_importer and macadjan_sync */

.main_button input {
    display: block;
    margin-left:auto;
    margin-right:auto;
    padding: 0.5em;
}

/* Styles for macadjan_sync */

blockquote.highlight {
    border: 1px solid;
    background: @BlockBackground;
    margin: 1em;
    padding: 1em;
}

.messages {
    padding: 0;
}

.messages li.success {
    list-style: none;
    margin: 1em;
    padding: 0.5em;
    border: 1px solid #000099;
    background-color: #aaaaff;
    color: #000099;
}

.messages li.error {
    list-style: none;
    margin: 1em;
    padding: 0.5em;
    border: 1px solid #ff0000;
    background-color: #ffaaaa;
    color: #ff0000;
}

.errorlist li {
    color: #ff0000;
}

.form_table tr {
    vertical-align: top;
}

.form_table th, td {
    padding: 0.5em 1em;
}

.form_table input, textarea, select {
    width: 500px;
}

.form_table .help_text {
    font-size: 95%;
    font-style: italic;
}

.sync_table tr {
    vertical-align: top;
}

.sync_table th, td {
    padding: 0 1em;
}

.sync_table input, textarea, select {
    width: 500px;
}

span.sync_changed {
    color: #0000ff;
}

ul.cat li,
ul.subcat li {
    list-style-type: none;
}

ul.cat li.selected,
ul.subcat li.selected {
    list-style-type: disc;
    list-style-image: url("../images/arrow-list.gif");
}


