/*@import "bootstrap/bootstrap.less";*/

/*********************
 * Global definitions
 *********************/

@HeaderMarginBackground: #222222;
@HeaderBackground: #222222 url("../img/banner.jpg") right no-repeat;
@HeaderTextColor: #eeeeee;

@MenuMarginBackground: #707070 url("../img/menu-background.png") top left repeat-x;
@MenuBackground: #707070 url("../img/menu-background.png") top left repeat-x;
@MenuTextColor: #ffffff;
@MenuSelectedBackground: #909090 url("../img/menu-hover.png") top left repeat-x;
@MenuSelectedTextColor: #505050;

@ContentMarginBackground: #eeeeee;
@ContentBackground: #ffffff;
@ContentTextColor: #000000;
@BlockBackground: #eeeeee;
@BlockTextColor: #000000;
@MainBlockBackground: #333333;
@MainBlockTextColor: #ffffff;

@FooterMarginBackground: #eeeeee;
@FooterBackground: #404040 url('../img/menu-background.png') top left repeat-x;
@FooterTextColor: #ffffff;

@BoxBorder: 1px solid #707070;
@UnderlineBorder: 1px solid #404040;

@DefaultFont: verdana, tahoma, arial, helvetica, sans-serif;
@DefaultTextColor: #000000;


/************
 * Structure
 ************/

body {
    margin: 0 0 1em 0;
    padding: 0;
    color: @DefaultTextColor;
    background: @ContentMarginBackground;
    line-height: 130%;
    font-family: @DefaultFont;
    text-align: center;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

#header-wrapper {
    background: @HeaderMarginBackground;
    #header-box {
        background: @HeaderBackground;
        width: 85%;
        height: 125px;
        margin: 0 auto;
        border-left: @BoxBorder;
        border-right: @BoxBorder;
        text-align: left;
        h1 {
            margin: 0;
            padding: 50px 0 0 10px;
            color: @HeaderTextColor;
            font-size: 220%;
            letter-spacing: -1px;
        }
        h2 {
            margin: 0;
            padding: 10px 0 0 10px;
            color: @HeaderTextColor;
            font-size: 100%;
            letter-spacing: -1px;
            border: none;
        }
    }
}

#menu-wrapper {
    .menu-box {
    }
}

#content-wrapper {
    background: @ContentMarginBackground;
    #content-box {
        width: 83%; /* 83% because it has 1% padding on each side, which brings it to 85% wide */
        margin: 0 auto;
        padding: 1%;
        border-left: @BoxBorder;
        border-right: @BoxBorder;
        background: @ContentBackground;
        font-size: 90%;
        text-align: left;
    }
}

* html #content-box { padding-top: 1.8em; } /* Set padding top in IE to 20px */

#search-box {
    font-size: 90%;
    .claim-line {
        margin-top: 0;
    }
    .breadcrumb-line {
    }
    #search-form {
        background: @MainBlockBackground;
        color: @MainBlockTextColor;
        padding: 10px 15px 15px 15px;
        .column-1 {
            width: 400px;
            float:left;
        }
        .column-2 {
            float:left;
        }
        label {
            display: block;
        }
    }
}

#list-box {
    float: left;
    width: 280px;  /* 300 - 2*10 of padding */
    margin-right: 10px;
    padding: 0 0 10px 10px;
    height: 590px;  /* 600 - 10 of padding */
    background: @BlockBackground;
    color: @BlockTextColor;
    font-size: 90%;
    #id-category-block {
        padding: 10px 0;
        p {
            margin: 0;
        }
    }
    #list-block {
        height: 100%;
        overflow: auto;
        background: @ContentBackground;
        color: @ContentTextColor;
        padding-right: 1em;
        ul {
            margin: 0;
            padding: 0 0 0 15px;
        }
    }
}

#map-box {
    margin-left: 300px;
    #map-container {
        border: @BoxBorder;
        height: 600px;
        margin: 0;
        padding: 0;
        #map-block {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    }
}

#footer-wrapper {
    background: @ContentMarginBackground;
    #footer-box {
        margin: 0 auto;
        padding: 2px 1%;
        width: 83%;
        text-align: right;
        color: @FooterTextColor;
        letter-spacing: 0.15em;
        background: @FooterBackground;
        border: @BoxBorder;
        font-size: 80%;
    }
}

/*---------------

.container{
    width: 980px;
}

.sidebar{
    width: 250px;
    float: right;
}

.main-content {
    width: 705px;
    margin-right: 20px;
    float: left;
}

.left{
    float: left;
}

.right{
    float: right;
}


.button{
    padding: 10px 30px;
    .border-radius(5px);
    font-size: 16px;
    border: 1px solid;
}
*/
