                <p><strong>Medioambiente, energía y sostenibilidad</strong></p>
                <p>Entidades ecologistas y de defensa del medio ambiente. Producción sostenible de energía o
                con el ahorro de la misma (energías renovables, medios de transporte ecoeficientes...)</p>
                <div id="entity-list-block">
                    <ul>
                        <li class="with-point"><strong>A Cova dos Ratos</strong><br/>
                            Centro social autoxestionado</li>
                        <li class="without-point"><strong>El BOKERÓN</strong><br/>
                            vivienda rural y centro social-político-artístico-educativo autogestionado</li>
                    </ul>
                </div>



