{% extends "macadjan/base.html" %}
{% load i18n %}

{% block title %}{{ current_site_info.website_name }}{% endblock %}

{% block body %}
<div class="main-container" data-initial-cat="{{ initial.cat }}" data-initial-subcat="{{ initial.subcat }}">
    <div id="header-wrapper">
        <div id="header-box">
            {% include "macadjan/page-header.html" %}
        </div>
    </div>
    <div id="menu-wrapper">
        <div id="menu-box">
            {% include "macadjan/page-menu.html" %}
        </div>
    </div>
    <div id="content-wrapper">
        <div id="content-box">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div id="footer-wrapper">
        <div id="footer-box">
            {% include "macadjan/page-footer.html" %}
        </div>
    </div>
</div>
{% endblock %}

