{% extends "macadjan/main-page.html" %}
{% load i18n l10n staticfiles %}

{% block content %}
{% localize off %}
<div id="map-page" class="map-page clearfix"
    data-entity-list-url="{% url entities-list %}"
    data-filter-category="{% if map_arguments.filter_category %}{{ map_arguments.filter_category.id }}{% endif %}"
    data-filter-subcategory="{% if map_arguments.filter_subcategory %}{{ map_arguments.filter_subcategory.id }}{% endif %}"
    data-filter-keywords="{{ map_arguments.filter_keywords }}">

    <div id="search-box">
        {% include "macadjan/search-box.html" %}
    </div>
    <div id="list-box">
        {% include "macadjan/list-box.html" %}
    </div>
    <div id="map-box">
        {% include "macadjan/map-box.html" %}
    </div>
    <div class="cleared"></div>
    <div id="below-map-box" class="clearfix">
        {% include "macadjan/below-map-box.html" %}
    </div>

</div>
{% endlocalize %}
{% endblock %}

{% block extrajs %}
    <script src="{% static 'js/libs/openlayers/OpenLayers.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script>
        Macadjan.categories.reset({{ view.categories_as_json }});
        Macadjan.subCategories.reset({{ view.subcategories_as_json }});
    </script>
{% endblock %}

