                    <p class="claim-line">Hay muchas otras formas de vivir, y miles de ejemplos, pequeños y grandes,
                    de otra forma de hacer las cosas. ¡Encuentra el tuyo!</p>

                    <div id="search-form">

                        <div class="block">
                            <div class="column-1">
                                <label for="id_keywords">Puedes usar tus propias palabras...</label><br/>
                                <input type="text" id="id_keywords" name="keywords" placeholder="ej. huerto urbano, bicicrítica..." />
                                <button id="id_keywords_submit">Buscar</button>
                            </div>

                            <table border="0">
                                <tr>
                                    <td valign="bottom">
                                        <label for="id_category">...O elegir el tema que más te interesa</label><br/>
                                        <select id="id_category" name="category"></select>
                                    </td>
                                    <td valign="bottom">
                                        <select id="id_subcategory" name="subcategory"></select>
                                    </td>
                                </tr>
                            </table>
                            <!--
                            <div class="column-2">
                                <div class="column-2-1">
                                </div>
                                <div class="column-2-2">
                                </div>
                            </div>
                            -->

                            <div style="clear: both;"></div>
                        </div>

                    </div>

                    <p class="breadcrumb-line">
                        En el mapa: movimientos sociales relacionados con <span id="id-category-header">todos los temas</span>
                        {% comment %}
                        <select id="id_province" name="province">
                            <option value="">en todas las provincias</option>
                            <option value="madrid">en Madrid</option>
                            <option value="murcia">en Murcia</option>
                        </select>
                        {% endcomment %}
                    </p>
